@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500;700&display=swap');

//Colors
$background-color: #D5E1EF;
$blue: #2B7DFA;
$dark-blue: #2660b8;
$title-color: #1F2D40;
$description-color: #A7A8AD;


//Fonts
$font: 'Outfit', sans-serif;