@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

//Colors
$light-gray: #4F4F4F;
$dark-gray: #333333;
$footer-color: #BDBDBD;


//Fonts
$normal: 'Space Mono', monospace;


//Font Weight
$bold: 700;
$light: 400;

//Font Size
$title-404: 2.5rem;