@import url(https://fonts.google.com/specimen/Hanken+Grotesk);

//Colors
$light-red: #ff5757;
$orangey-yellow: #ffb01f;
$green-teal: #00bd91;

//Gradients

$light-slate-blue: #7857ff; //inicio
$light-royal-blue: #2e2be9; //fim

$violet-blue: #4e21ca; //circle inicio
$persian-blue: #2421ca00; //circle

//Neutral

$pale-blue: #ebf1ff;
$light-lavender: #c8c7ff; //Cor font
$dark-gray-blue: #303b5a; //Botao não ativado

//Fonts
$font: 'Hanken Grotesk';


//Font-weight
$normal: 500;
$bold: 700;
$bolder: 800;